<p id="notice"><%= notice %></p>

<h1>My document posts</h1>
<%= link_to '+ New Document Post', new_post_path %>
<br/>
<br/>

<div class="card-columns">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.description %></p>
      </div>
      <div class="card-footer">
        <small><%= link_to 'Download', rails_blob_path(post.post, disposition: "attachment") %> | </small>
        <small><%= link_to 'Show', post %> | </small>
        <small><%= link_to 'Edit', edit_post_path(post) %> | </small>
        <small><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></small>
      </div>
    </div>
  <% end %>
</div>
